<header>
    <div id="mobile-menu">
        <div id="nav-button" class="fa fa-bars fa-2x button"></div>
    </div>
    <section id="logo"><a href="/" class="blog">Bigwhiteshark</a>
    </section>
    <div id="navbar">
        <ul id="navmenu">
            <li><a href="/" id="home-menu">首页</a></li>
            <li class="">
                <ul id="getting-started-menu" class="menu dropit">
                    <li class="dropit-trigger"><a href="/labs">实验室</a>
                        <ul class="dropit-submenu" style="display: none;">
                            <li>
                                <a href="/starter/installing.html">
                                    Hello world
                                  </a>
                            </li>
                            <li>
                                <a href="/starter/hello-world.html">
                                    Hello world
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="https://github.com/bigwhiteshark" target="_blank" id="github-menu">GitHub</a></li>
        </ul>
    </div>
</header>
