<header>
    <div id="mobile-menu">
        <div id="nav-button" class="fa fa-bars fa-2x button"></div>
    </div>
    <section id="logo"><a href="/" class="blog">Bigwhiteshark</a>
    </section>
    <div id="navbar">
        <ul id="navmenu">
            <li><a href="/" id="home-menu">首页</a></li>
            <li class="">
                <ul id="getting-started-menu" class="menu dropit">
                    <li class="dropit-trigger"><a href="/starter/installing.html">入门</a>
                        <ul class="dropit-submenu" style="display: none;">
                            <li>
                                <a href="/starter/installing.html">
                                    安装
                                  </a>
                            </li>
                            <li>
                                <a href="/starter/hello-world.html">
                                    Hello world
                                  </a>
                            </li>
                            <li>
                                <a href="/starter/generator.html">
                                  Express 应用生成器
                                </a>
                            </li>
                            <li>
                                <a href="/starter/basic-routing.html">
                                    基本路由
                                  </a>
                            </li>
                            <li>
                                <a href="/starter/static-files.html">
                                    静态文件
                                  </a>
                            </li>
                            <li>
                                <a href="/starter/faq.html">
                                    常见问题
                                  </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="">
                <ul id="guide-menu" class="menu dropit">
                    <li class="dropit-trigger"><a href="/guide/routing.html">使用指南</a>
                        <ul class="dropit-submenu" style="display: none;">
                            <li><a href="/guide/routing.html">路由</a>
                            </li>
                            <li><a href="/guide/using-middleware.html">中间件</a>
                            </li>
                            <li><a href="/guide/using-template-engines.html">模板引擎</a>
                            </li>
                            <li><a href="/guide/error-handling.html">错误处理</a>
                            </li>
                            <li><a href="/guide/debugging.html">调试</a>
                            </li>
                            <li><a href="/guide/behind-proxies.html">为 Express 设置代理</a>
                            </li>
                            <li><a href="/guide/migrating-4.html">升级到 Express 4</a>
                            </li>
                            <li><a href="/guide/database-integration.html">数据库集成</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</header>
